.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
}

.header__square-pic {
    background-color: #DF1919;
    height: 100vh;
    width: 60%;
    position: absolute;
    left: 0;
}

.header__title {
    color: #fff;
    font-size: 8rem;
    z-index: 1;
    max-width: 40%;
    position: absolute;
    top: 0px;
    padding-top:120px;
}


.about {
    height: 500px;
    background-color: green;
}